@import url(./fonts.css);
@import url(./media.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background: #EFEFEF;
}

.header {
    background: #3E8989;
    padding: 37px 165px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    text-align: left;
}

.menu {
    display: flex;
    align-items: center;
}

.link {
    border-bottom: 2px solid transparent;
    padding: 0 15px 5px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    transition: 0.4s;
}

.link:hover {
    border-bottom: 2px solid white;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_text {
    padding: 8px 20px;
    border: 1px solid white;
    border-radius: 10px 0 0 10px;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    width: 216px;
    outline: none;
}

.submit_btn {
    padding: 9px 14px;
    border: 1px solid #295E5E;
    background: #295E5E;
    border-radius: 0 10px 10px 0;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.banner {
    background: url(../img/pic.png);
    background-size: cover;
    height: 850px;
    background-repeat: no-repeat;
    background-position: center;
}

.banner_wrap {
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.banner_h {
    font-family: 'Rubik', sans-serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 95px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 250px;
    margin-bottom: 20px;
}

.banner_p {
    font-family: 'Rubik', sans-serif;
    font-size: 40px;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 50px;
}

.banner_btn {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;
    background: #B4436C;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    padding: 14px 77px;
    color: white;
    transition: 0.4s;
}

.banner_btn:hover {
    background: white;
    color: #B4436C;
}

.aboutus {
    padding: 80px 0 97px;
}

.aboutus_h {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    color: #3E8989;
    margin-bottom: 50px;
}

.aboutus_wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.aboutus_desc {
    width: 100%;
    max-width: 555px;
}

.desc-p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 20px;
}

.desc__p {
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
}

.catalog0 {
    color: #3E8989;
}

.catalog_h1 {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 53px;
}

.card_clothes {
    background: #E5E5E5;
    padding: 1px 33px;
    width: 263px;
    text-align: center;
}

.card_shoes {
    background: #E5E5E5;
    padding: 77px 23px;
    width: 263px;
    text-align: center;
}

.card_tents {
    background: #E5E5E5;
    padding: 75px 2px;
    width: 263px;
    text-align: center;
}

.card_backpacks {

    background: #E5E5E5;
    padding: 19px 0;
    width: 263px;
    text-align: center;
}

.card_body {
    margin-top: 32px;
    display: flex;
}

.card_link {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: black;
    margin-left: 90px;
    transition: 0.4s;
}

.card_link:hover {
    color: #B4436C;
}

.catalog__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.contacts {
    color: #3E8989;
}

.contacts__h {
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin: 100px 388px 50px 0;
}

.contacts__p {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: black;
    margin-right: 388px;
}

.del {
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: right;
    color: black;
}

.gmail {
    padding: 20px 0 104px 0;
}

.contacts_wrap {
    display: flex;
    justify-content: space-between;
}

.footer {
    background: #3E8989;
    color: white;
    padding: 40px 0 15px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 59px;
}

.menu__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

.footer__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}

.end__p {
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    display: flex;
    margin-right: 6px;
}

.theend {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

